<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Test Suite">
    <listeners>
        <listener class-name="listener.RetryClass">
        </listener>
    </listeners>
    <test name="Appium Android Tests">
        <classes>
            <class name="tests.BookPageTest"/>
          <!--  <class name="tests.IndigoTest"/>
            <class name="tests.Validate"/>-->
        </classes>
    </test>
</suite>